@font-face {
  font-family:'Platz-Regular';
  src: url('../fonts/Platz-Regular.woff') format('woff'), url('../fonts/Platz-Regular.woff2') format('woff2');
  font-style:bold;font-weight:700;
}

html { 
    background: url(https://cdns.abclocal.go.com/three/kabc/webcam/web2-1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

mark{
  background: black;
  color: white;
}

body {
    /* background: black; */
    color: white;
    font-family: 'Platz-Regular', monospace;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 35em;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 2.2rem;
  }

  .text{
    font-size: 1.5rem;
    display: block;
    word-wrap: break-word;
    hyphens: manual;
    height: 100%;
    padding-bottom: 2rem;
    line-height: 2rem;
  }

  .caption{
    font-size: 1rem;
    display: block;
    word-wrap: break-word;
    hyphens: manual;
    height: 100%;
    padding-bottom: 5rem;
    line-height: 1.5rem;
    max-width: 25em;
  }

  a {
    color: #4f0;
    text-decoration: none
  }

  a:hover {
    color: #fff
  }

  #time {
    font-variant-numeric: tabular-nums;
    /* font-variant-numeric: slashed-zero; */
  }