@font-face {
    font-family:'Platz-Regular';
    src: url('../fonts/Platz-Regular.woff') format('woff'), url('../fonts/Platz-Regular.woff2') format('woff2');
    font-style:bold;font-weight:700;
  }

body {
    background: #0f0;
    color: white;
    font-family: 'Platz-Regular', monospace;
    font-size: 13px;
    line-height: 1.4;
  }

  .caption{
    font-size: 11px;
    line-height: 1.2;
  }

  body.loading {
    background: black;
  }

  canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 0;
    width: 100%;
    height: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    vertical-align: top;
    box-shadow: inset 0 0 1000px 0 rgba(0, 0, 0, .8);
  }

  aside {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
  }

  a {
    color: #0f0;
    text-decoration: none
  }

  a:hover {
    color: #fff
  }

  a span {
    font-size: 13px;
    line-height: 0
  }

  /* .cover-mini {
    width: 300px;
  }

  .album {
    width: 300px;
    margin-bottom: 20px
  }

  .album a {
    display: block;
    font-weight: 700;
    padding: 20px;
    padding-top: 0px;
  } */

  aside p {
    padding: 20px;
  }

  nav {
    padding: 20px;
    padding-bottom: 75px;
    padding-top: 74px;
  }

  nav a {
    display: block;
  }

  /* .c3ff {
    background-image: url('img/cover/1.png');
    background-size: 100%;
    height: 300px;
    width: 300px;
    box-shadow: inset 0 0 200px 0 rgba(255, 255, 255, .08);
  } */

  iframe {
    background-color: #000;
  }

  .goth {
    margin: auto;
  }

  .single {
    margin-bottom: 20px;
  }

  .stuff {
    padding-left: 20px;
    padding-bottom: 20px
  }

  .stuff h2 {
    padding-left: 0
  }

  h2,
  h1 {
    font-size: 11px;
    padding-left: 20px;
    margin: 11px 0
  }

  h1 {
    font-weight: 400;
  }

  .stuff a {
    display: block;
  }

  #time {
    font-variant-numeric: tabular-nums;
    /* font-variant-numeric: slashed-zero; */
  }

  .blink {
    -webkit-animation: blink 1s step-end infinite;
            animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}