<!-- Navigation -->
<nav class="navbar navbar-expand-lg sticky-top navbar-light" id="mainNav">

  <span class="navbar-brand mr-auto">
    <a href="{{"/" | relative_url }}">
      <strong>{{ site.title | escape }}</strong><br>Graphic Designer
    </a>
  </span>

  <!-- <span class="navbar-brand mx-auto" style="text-align: center; font-size: 0.9rem; line-height: 1.2;"><a href="{{"/" | relative_url }}">
    <span style="font-weight: bold;">{{ site.title | escape }}</span><br>Graphic Designer<br>zeke.studio</a><br>
    <a href="mailto:zeke@zeke.studio">zeke@zeke.studio</a><br>
    <a href="tel:1-323-854-6106">323.854.6106</a></span>  -->

  <span class="navbar-brand ml-auto">
    <a href="{{"/about" | relative_url }}">
      About
    </a>
  </span>

</nav>