<!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg sticky-top navbar-light" id="mainNav">
  <span class="navbar-brand mr-auto">
    <a href="{{"/" | relative_url }}">
      <strong>{{ site.title | escape }}</strong><br>Graphic Designer
    </a>
  </span>
  <span class="navbar-brand ml-auto" style="text-align: right">
    <a href="{{"/about" | relative_url }}">About</a><br>
    <a href="{{"/experiments" | relative_url }}">Experiments</a>
  </span>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-expand sticky-top navbar-dark" id="mainNav">
    <span class="navbar-brand mr-auto">
    <a href="{{"/" | relative_url }}"><strong>{{ site.title | escape }}</strong><br>Graphic Designer</a>
    </span>
    
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="margin-bottom: 0">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item" style="margin-bottom: 0">
            <a class="nav-link" href="{{"/experiments" | relative_url }}">Experiments</a>
          </li>
      </ul>
    </div>
  </nav>



  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Always expand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav> -->