---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-lg">

      {{ content }}

      <article class="post-preview">
        <a href="https://www.nevadaart.org/conference2021/" target="_blank">
            <div class="embed-responsive embed-responsive-16by9 inline-image">
                <video class="embed-responsive-item" playsinline autoplay muted loop
                    poster="/img/apluse/apluse.jpg">
                    <source src="/img/apluse/apluse.mp4" type="video/mp4" />
                </video>
            </div>
            <!-- <img src="/img/experiments/kinetic4.gif" class="img-fluid"> -->
            <p class="post-title"><strong>Art + Environment 2021</strong>
            </p>
        </a>
        <p style="text-align: center">
          A site-specific microsite for site-specific artworks, using realtime wind data 
          <!-- at the site of the Nevada Art Museum  -->
          to drive a dynamic logotype.
          <br>
          With <a href="http://bradbartlett.com/" target="_blank">Brad Bartlett</a> and <a href="http://alitorbati.com/" target="_blank">Ali Torbati</a>. Built using Three.js and CSS.
        </p>

        <br><br>
    </article>

      <!-- Home Post List -->
      {% for post in site.posts %}

      <article class="post-preview">

        

        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">

          {% if post.hero %}
          <img src="{{ post.hero | prepend: site.baseurl | replace: '//', '/' }}" class="img-fluid">
          {% endif %}

          <p class="post-title"><strong>{{ post.title }}</strong>

            <!-- <br>{{ post.subtitle }} -->

          </p>
        </a>

        <br><br>

      </article>

      {% endfor %}

      {% include footer.html %}

    </div>
  </div>
</div>