---
layout: default
---

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts %}

        <article class="post-preview">
          
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">

            {% if post.hero %}
            <img src="{{ post.hero | prepend: site.baseurl | replace: '//', '/' }}" class="img-fluid">
            {% endif %}
            
            <p class="post-title">{{ post.title }}</p>
            <!-- {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %} -->
          </a>

        </article>

        {% endfor %}

        {% include footer.html %}

      </div>
    </div>
  </div>
