---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-lg">

      {{ content }}

      <!-- Home Post List -->
      {% for post in site.posts %}

      <article class="post-preview">

        

        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">

          {% if post.hero %}
          <img src="{{ post.hero | prepend: site.baseurl | replace: '//', '/' }}" class="img-fluid">
          {% endif %}

          <p class="post-title"><strong>{{ post.title }}</strong>

            <!-- <br>{{ post.subtitle }} -->

          </p>
        </a>

        <br><br>

      </article>

      {% endfor %}

      {% include footer.html %}

    </div>
  </div>
</div>